*.py[co]
*.db
*.swp
*~
lernanta/media/images/profiles/
lernanta/media/images/projects/
lernanta/media/images/challenges/
lernanta/media/videos/projects/
lernanta/media/images/badges/
settings_local.py
sample_data.py
sql/
celery-schedule
lernanta.log*
.project
.pydevproject
SRC
.settings/
*.komodoproject
*.DS_Store
*.sublime-project
lernanta/lernanta
.sass-cache
lernanta/db_seed_lernanta.sql
lernanta/runserver.log
lernanta/static_serv/
lernanta/static/sass/.sass-cache
lernanta/static/css/ie.css
lernanta/static/css/print.css
lernanta/static/css/screen.css
